name: Build and Publish

on:
  push:
    branches:
      - main

jobs:
  build:
    permissions:
      contents: write
    uses: martoc/workflow-container-image/.github/workflows/default.yml@main
    with:
      platforms: linux/arm64,linux/amd64
    secrets: inherit
